<% layout('/layouts/default.html', {title: '用户权重管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('用户权重管理')}
			</div>
			<div class="box-tools pull-right">
				<% if(hasPermi('review:reviewTermUserRate:edit')){ %>
				<a href="#" class="btn btn-default" id="btnAddUser" title="${text('配置投票权重')}"><i class="fa fa-plus"></i> ${text('配置投票权重')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${reviewTermUserRate}" action="${ctx}/review/reviewTermUserRate/listData" method="post" class="form-inline"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('用户名')}：</label>
					<div class="control-inline">
						<#form:input path="userName" maxlength="255" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('权重')}：</label>
					<div class="control-inline">
						<#form:input path="rate" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" id="toSearchButton" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<div class="hide">
	<#form:treeselect id="userSelect" title="用户选择" path="testUser.userCode" labelPath="testUser.userName" url="${ctx}/sys/office/treeData?isLoadUser=true" class="" allowClear="true" checkbox="true" itemCode="userCode" itemName="userName"/>
</div>

<div class="hide">
	<#form:form id="saveReviewTermUserRateForm" action="${ctx}/review/reviewTerm/saveReviewTermUserRate" method="post" class="form-inline">
	<#form:input name="userCodes" id="userCodes" class="form-control width-120"/>
	<#form:input name="rate" id="rateNum" value="100" class="form-control width-120"/>
</#form:form>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('用户名')}', name:'userName', index:'a.user_name', width:150, align:"center"},
		{header:'${text('权重')}', name:'rate', index:'a.rate', width:150, align:"center"},
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false,align:"center", formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('review:reviewTermUserRate:edit')){ %>
				actions.push('<a href="${ctx}/review/reviewTermUserRate/delete?id='+row.id+'" class="btnList" title="${text('删除用户权重')}" data-confirm="${text('确认要删除该用户权重吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});

$('#btnAddUser').click(function(){
	$('#userCodes').val('');
	$('#userSelectCode').val('');
	$('#userSelectName').val('').click();
});

$('#userSelectCode').change(function(){
	var userCodes = $('#userSelectCode').val();
	$('#userCodes').val(userCodes);
	//弹出权重设置框
	var rateHtml = '<div class="main-content">' +
			'<div class="box box-main">'+
			'<br class="box-body">'+
			'<div class="row">'+
			'<label for="rateNum" class="col-sm-6 control-label">权重%(百分比数值)</label>'+
			'<div class="col-xs-4">'+
			'<input type="text" class="form-control" onchange="changeRateValue(this)" value="100">'+
			'</div>'+
			'</div><br/>'+
			'<div class="row pull-right">'+
			'<div class="col-xs-4">'+
			'<button type="button" class="btn btn-success" onclick="saveReviewTermUserRate()">确定</button>'+
			'</div>'+
			'</div>'+
			'</div>'+
			'</div>'+
			'</div>';
	layer.open({
		type: 1 //Page层类型
		, area: ['300px', '200px']
		, title: '配置权重值'
		, shade: 0.6 //遮罩透明度
		, maxmin: false //允许全屏最小化
		, anim: 1 //0-6的动画形式，-1不开启
		, content: rateHtml
	});
});

function changeRateValue(obj) {
	var val = $(obj).val();
	var gshVal = js.formatNumber(val, 0, false);
	$(obj).val(gshVal);
	$('#rateNum').val(gshVal);
}

function saveReviewTermUserRate() {
	js.ajaxSubmitForm($('#saveReviewTermUserRateForm'), {
		callback: function (data) {
			layer.closeAll();
			js.showMessage(data.message, "配置投票权重", "info", 2000);
			$("#toSearchButton").click();
		},
		dataType: 'json',
		async: true,
		message: '正在获取数据...'
	});
}
</script>