<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>省直机关践行“工匠精神”先进集体和先进个人评选事迹公示</title>
    <link rel="stylesheet" href="${ctxStatic}/css/dianxing02.css">
</head>
<body style="background-color:#0452b7">
  <div class="datou">
  <img src="${ctxStatic}/images/pxsm.jpg" width="100%"/>
  <div class="datou-annu">
  <div class="datou-b">
  <a href="${ctx}/vote/formal/toupiaoblue?type=1" target="_blank"><img src="${ctxStatic}/images/gb.png" width="100%"/></a>
  </div> 
  <div class="datou-b">
  <a href="${ctx}/vote/formal/toupiaoblue?type=2" target="_blank"><img src="${ctxStatic}/images/cz.png" width="100%"/></a>
  </div> 
  <div class="datou-b">
  <a href="${ctx}/vote/formal/toupiaoblue?type=3" target="_blank"><img src="${ctxStatic}/images/cs.png" width="100%"/></a>
  </div> 
  </div>   		
</div> 

</body>
</html>