<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>省直机关践行“工匠精神”先进集体和先进个人评选事迹公示</title>
    <script type="text/javascript" src="${ctxStatic}/js/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="${ctxStatic}/css/dianxing01.css">
</head>
<body style="background-color:#ffefcd;">
<div class="daohang">

    <div class="wenzi"><p>省直机关践行“工匠精神”先进集体和先进个人评选事迹公示</p></div>
    <div class="wenzi01"><p>主办单位：中共黑龙江省直属机关工作委员会</p></div>
</div>
<div class="top"><img src="${ctxStatic}/images/ttt.jpg" width="100%"></div>
<div class="content">
    <div class="title02"><p>公示简介</p></div>
    <div class="sy-nr">
        <p>为了深入贯彻落实习近平总书记提出的“五细”重要要求，按照省委关于深化作风整顿优化营商环境的统一部署，今年在省直机关组织开展践行“工
            匠精神”先进集体和先进个人评选。评选的宗旨和目的是进一步推动习近平总书记考察我省重要讲话精神的贯彻落实，在省直机关大力弘扬“工匠精神”,
            充分调动广大机关干部干事创业的积极性、主动性和创造性，努力把省直机关建设成为讲政治、守纪律、负责任、有效率的模范机关，为实现龙江全面振
            兴全方位振兴提供坚强组织保证和作风保证。</p>
        <p>按照《省直机关践行“工匠精神”先进集体和先进个人评选办法》,现对省直各部门评选并按要求推荐上报的省直机关践行“工匠精神”先进集体和先
            进个人候选人的先进事迹进行集中公示，供省直机关广大干部学习借鉴并接受监督。</p>
        <p>联系电话：53609475、18903660110</p>
    </div>
    <div class="buju">
        <div class="jinru01"><a href="${ctx}/vote/formal/toupiaoblue?type=1" target="_blank">候选先进干部列表</a></div>
        <div class="jinru02"><a href="${ctx}/vote/formal/toupiaoblue?type=2" target="_blank">候选先进处长列表</a></div>
        <div class="jinru03"><a href="${ctx}/vote/formal/toupiaoblue?type=3" target="_blank">候选先进处室列表</a></div>
    </div>
</div>

<div class="clear"></div>

</div>
<div class="footer01"><p>技术支持：黑龙江东北网络台</p></div>
</body>
</html>