<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>省直机关践行“工匠精神”先进集体和先进个人评选事迹公示</title>
  <script type="text/javascript" src="${ctxStatic}/js/jquery-1.8.3.min.js"></script>
  <link rel="stylesheet" href="${ctxStatic}/css/dianxing02.css">
</head>
<body style="background-color:#0452b7">
  <div class="datou">
  <img src="${ctxStatic}/images/pxsm.jpg" style="margin-top: -90px;" width="100%"/>
  <div style="position:absolute;right: 1%;top: 1%" align="right">
      <a href="javascript:void(0)"  style="color: #ffffff" id="userName_div"></a>
      <a href="${ctx}/index#/vote/a/sys/user/info?op=pwd" style="color: #ffffff">修改密码</a>
      <a href="${ctx}/logout" style="color: #ffffff">退出登录</a>
  </div>
  <div class="datou-annu">
  <div class="datou-b" id="ganbu_div">
  <a href="${ctx}/vote/formal/toupiaoblue?type=3" target="_top"><img src="${ctxStatic}/images/cs.png" width="100%"/></a>
  </div>
  <div class="datou-b" id="cz_div">
  <a href="${ctx}/vote/formal/toupiaoblue?type=2" target="_top"><img src="${ctxStatic}/images/cz.png" width="100%"/></a>
  </div>
  <div class="datou-b" id="cs_div">
  <a href="${ctx}/vote/formal/toupiaoblue?type=1" target="_top"><img src="${ctxStatic}/images/gb.png" width="100%"/></a>
  </div>
  </div>
</div>
  <script>
    (function () {
      getUserInfo();
      $.ajax({
        type: "POST",
        url: "${ctx}/vote/formal/getOfficeInfo",
        data: {},
        dataType: "json",
        success: function (data) {
          if(data.officeType == '2'){
            $("#ganbu_div").hide();
          }
        }
      });
    })()

    function getUserInfo() {
      $.ajax({
        type: "POST",
        url: "${ctx}/vote/formal/getUserInfo",
        data: {},
        dataType: "json",
        success: function (data) {
          $("#userName_div").html('登录用户:'+data.userName);
        }});
    }
  </script>
</body>
</html>