<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>省直机关践行“工匠精神”先进集体和先进个人评选事迹公示</title>
    <script type="text/javascript" src="${ctxStatic}/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="${ctxStatic}/js/floatAd.js"></script>
  	<script>
       window.onload = function(){
       	var ad = new FloatAd({
			//nodeLink : "<a href='#'><img src='img/weixin_qurode.png' border=0 /></a>" ,
			floatObj : "floatright",
			x : 70,
			y : 580,
			locate : "right"
		});
		ad.play();
       }
	</script>
    <link rel="stylesheet" href="${ctxStatic}/css/dianxing01.css">
</head>
<body style="background-color:#ffefcd;">
<!--漂浮广告-->
<div id="floatright" style="position: absolute; z-index: 10; right: 100px; top: 620px; width:153px;height:243px;">
    <img src="${ctxStatic}/images/jsq.png" width="153" height="243">
    <p style="text-align:center;font-size:14px;color:#333;width:100px;line-height:18px;margin:0 26px;position:absolute;top:60px;">
        先进干部已选</p>
    <p style="text-align:center;font-size:14px;color:#cc1c1e;width:100px;line-height:18px;margin:0 26px;position:absolute;top:78px;border-bottom:1px dashed #333;padding-bottom:4px;">
        86/500票</p>
    <p style="text-align:center;font-size:14px;color:#333;width:100px;line-height:18px;margin:0 26px;position:absolute;top:104px;">
        先进处长已选</p>
    <p style="text-align:center;font-size:14px;color:#cc1c1e;width:100px;line-height:18px;margin:0 26px;position:absolute;top:122px;border-bottom:1px dashed #333;padding-bottom:4px;">
        98/200票</p>
    <p style="text-align:center;font-size:14px;color:#333;width:100px;line-height:18px;margin:0 26px;position:absolute;top:148px;">
        先进处室已选</p>
    <p style="text-align:center;font-size:14px;color:#cc1c1e;width:100px;line-height:18px;margin:0 26px;position:absolute;top:166px;padding-bottom:4px;">
        22/100票</p>
    <p style="text-align:center;font-size:14px;background-color:#cc1c1e;font-weight:bold;display:block;width:100px;line-height:26px;margin:0 26px;position:absolute;bottom:22px;border-radius:30px;">
        <a style=" color:#fff;" href="#" target="_blank">确认投票</a></p>
</div>
<!--漂浮广告end-->
<div class="daohang">
    <div class="wenzi"><p>省直机关践行“工匠精神”先进集体和先进个人评选事迹公示</p></div>
    <div class="wenzi01"><p>主办单位：中共黑龙江省直属机关工作委员会</p></div>
</div>
<div class="top"><img src="${ctxStatic}/images/ttt.jpg" width="100%"></div>
<div class="content">
    <div class="title02"><p>公示简介</p></div>
    <div class="sy-nr">
        <p>为了深入贯彻落实习近平总书记提出的“五细”重要要求，按照省委关于深化作风整顿优化营商环境的统一部署，今年在省直机关组织开展践行“工
            匠精神”先进集体和先进个人评选。评选的宗旨和目的是进一步推动习近平总书记考察我省重要讲话精神的贯彻落实，在省直机关大力弘扬“工匠精神”,
            充分调动广大机关干部干事创业的积极性、主动性和创造性，努力把省直机关建设成为讲政治、守纪律、负责任、有效率的模范机关，为实现龙江全面振
            兴全方位振兴提供坚强组织保证和作风保证。</p>
        <p>按照《省直机关践行“工匠精神”先进集体和先进个人评选办法》,现对省直各部门评选并按要求推荐上报的省直机关践行“工匠精神”先进集体和先
            进个人候选人的先进事迹进行集中公示，供省直机关广大干部学习借鉴并接受监督。</p>
        <p>联系电话：53609475、18903660110</p>
    </div>
    <div class="title02"><p>参评单位</p></div>

    <div id="reviewDiv"  class="clear"></div>
</div>
<div class="footer01"><p>技术支持：黑龙江东北网络台</p></div>
      <script>
    function resetTabs(){
        $("#content > div").hide(); //Hide all content
        $("#tabs a").attr("id",""); //Reset id's      
    }

    var myUrl = window.location.href; //get URL
    var myUrlTab = myUrl.substring(myUrl.indexOf("#")); // For localhost/tabs.html#tab2, myUrlTab = #tab2     
    var myUrlTabName = myUrlTab.substring(0,4); // For the above example, myUrlTabName = #tab

    (function () {
        getReviewTermList();
    })()

    function initDiv() {
        $("#content > div").hide(); // Initially hide all content

        $("#tabs a").on("click",function(e) {
            e.preventDefault();
            if ($(this).attr("id") == "current"){ //detection for current tab
                return
            }
            else{
                resetTabs();
                $(this).attr("id","current"); // Activate this
                $($(this).attr('name')).fadeIn(); // Show content for current tab
            }
        });

        for (i = 1; i <= $("#tabs li").length; i++) {
            if (myUrlTab == myUrlTabName + i) {
                resetTabs();
                $("a[name='"+myUrlTab+"']").attr("id","current"); // Activate url tab
                $(myUrlTab).fadeIn(); // Show url tab content
            }
        }
    }

    function getReviewTermList() {
        $.ajax({
            type: "POST",
            url: "${ctx}/vote/formal/getReviewTermList",
            data: {},
            dataType: "json",
            success: function (data) {
                var ulLi = '<ul id="tabs">';
                var xh = 1;
                var divHtml = '';

                if(data && data[0]){
                    $.each(data,function(index,ele){
                        if(ele){
                            //5个一循环
                            if(xh > 5){
                                xh = 1;
                                //结尾
                                divHtml += '</div>';
                                ulLi += '</ul>';
                                //输出
                                $("#reviewDiv").before(ulLi);
                                $("#reviewDiv").before(divHtml);
                            }
                            if(xh == 1){
                                //初始化
                                divHtml = '<div id="content">';
                                ulLi = '<ul id="tabs">';
                                //拼接子元素
                                divHtml += getDiv(ele);
                                ulLi += getulLi(ele);
                            }else{
                                //拼接子元素
                                divHtml += getDiv(ele);
                                ulLi += getulLi(ele);
                            }
                        }
                        xh++;
                    });
                    if(xh <= 5){
                        //结尾
                        divHtml += '</div>';
                        ulLi += '</ul>';
                        //输出
                        $("#reviewDiv").before(ulLi);
                        $("#reviewDiv").before(divHtml);
                    }
                }
                initDiv();
            }});
    }



    function getulLi(ele){
        return '<li><a href="#" onclick="getReviewTermListByOfficeCode(\''+ele.office_code+'\')" name="#'+ele.office_code+'">'+ele.office_name+'</a></li>';
    }

    function getDiv(ele) {
        return '<div id="'+ele.office_code+'"></div>';
    }

    function getReviewTermListByOfficeCode(office_code) {
        $.ajax({
            type: "POST",
            url: "${ctx}/vote/formal/getReviewTermListByOfficeCode",
            data: {
                'officeCode':office_code
            },
            dataType: "json",
            success: function (data) {
                var subHtml = '';
                if(data && data[0]){
                    $.each(data,function(index,ele){
                        if(ele){
                            subHtml += setDiv(ele);
                        }
                    });
                }
                $("#"+office_code).html(subHtml);
            }});
    }
    function setDiv(info) {
        var ulHtml = '<ul class="houxuan"><div class="houxuan-title"><p>'+info.office_name+'——'+info.review_name+'</p></div>';
        if(info.options && info.options[0]){
            $.each(info.options,function(index,ele){
                if(ele){
                    ulHtml+=liHtml(ele);
                }
            });
        }
        ulHtml += '</ul>';
        return ulHtml;
    }
    function liHtml(info) {
        return '<li><a href="#" target="_blank"><div class="touxiang"><img src=""></div><div class="nr"><p>'+info.option_name+'</p><span>'+info.position+'</span></div></a></li>';
    }

  </script>
</body>
</html>