<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>省直机关践行“工匠精神”先进集体和先进个人评选事迹公示</title>
<link href="${ctxStatic}/css/dianxing01.css" rel="stylesheet" type="text/css" />
</head>

<body>

  <div class="daohang01">   
    <div class="wenzi"><p>省直机关践行“工匠精神”先进集体和先进个人评选事迹公示</p></div>
    <div class="wenzi01"><p>主办单位：中共黑龙江省直属机关工作委员会</p></div>
    </div>

<!--列表开始--> 
<div class="erjiye">

<div class="xly-bt01">
<h2>省直机关践行“工匠精神”候选先进干部——刘浩 </h2>
</div>


   <div class="xly-jianjie">
   <div class="xly-jianjie-l"><img src="${ctxStatic}/images/cz.jpg"></div>
   <div class="xly-jianjie-r">
   <div class="xly-jianjie-r-wz"><span>姓&emsp;名：</span><p>刘浩</p></div>
   <div class="xly-jianjie-r-wz"><span>性&emsp;别：</span><p>女</p></div>
   <div class="xly-jianjie-r-wz"><span>年&emsp;龄：</span><p>42</p></div>
   <div class="xly-jianjie-r-wz"><span>政治面貌：</span><p>党员</p></div>
   <div class="xly-jianjie-r-wz"><span>工作单位：</span><p>黑龙江广播电视台</p></div>
   <div class="xly-jianjie-r-wz"><span>部门职务：</span><p>黑龙江广播电视台交通文艺广播副总监黑龙江广播电视台交通文艺广播副总监</p></div>
   </div>
    </div>
<div class="xly-yj">
<div class="xly-title01"><p>简要事迹</p></div>  
<div class="xly-nr01">
<p>惠州日报讯 （记者杨 熠）龙舟水虽已结束，但新一轮强降雨又将来袭。据市气象台昨日预报，23日夜间至26日，我市将迎来新一轮强降水，并伴有8级以上雷雨大风等强对流天气。此次降水过程持续时间较长，各方须加强防御，市民出行应随身携带雨具、避让易积水路段。暴雨红色预警信号生效期间，停止户外作业和活动，中小学幼儿园停课。</p>
<p>据悉，今年龙舟水期间（5月21日～6月20日），全省平均雨量383.7毫米，较常年偏多2成，为2009年以来最强；全省平均日照时数100.7小时，较常年偏少近3成。“本次强降水我省主要落区在粤北，可能与6月10日～14日受灾严重区域有重叠，加上我省周边的江西、湖南、广西和福建也有大范围持续性强降水，上游江河水位将明显上升。”有关气象专家分析说。</p>
<p>惠州日报讯 （记者杨 熠）龙舟水虽已结束，但新一轮强降雨又将来袭。据市气象台昨日预报，23日夜间至26日，我市将迎来新一轮强降水，并伴有8级以上雷雨大风等强对流天气。此次降水过程持续时间较长，各方须加强防御，市民出行应随身携带雨具、避让易积水路段。暴雨红色预警信号生效期间，停止户外作业和活动，中小学幼儿园停课。</p>
<p>据悉，今年龙舟水期间（5月21日～6月20日），全省平均雨量383.7毫米，较常年偏多2成，为2009年以来最强；全省平均日照时数100.7小时，较常年偏少近3成。“本次强降水我省主要落区在粤北，可能与6月10日～14日受灾严重区域有重叠，加上我省周边的江西、湖南、广西和福建也有大范围持续性强降水，上游江河水位将明显上升。”有关气象专家分析说。</p>
</div> 
</div> 
</div>
<!--列表结束 -->
<div class="footer" style="margin-top:30px;"><p>技术支持：国家统计局黑龙江调查总队</p></div>
</body>
</html>
