<% layout('/layouts/default.html', {title: '投票数据统计', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('投票数据统计')}
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${reviewTerm}" action="${ctx}/review/reviewTerm/listVoteStatisticsData" method="post" class="form-inline">

			</#form:form>
			<table id="dataGrid"></table>
<!--			<div id="dataGridPage"></div>-->
		</div>
	</div>
</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	sortableColumn : false,
	rownumWidth: 50,
	columnModel: [
		{header:'${text('参评项')}', name:'typeDesc', index:'a.typeDesc', width:120, align:"center"},
		{header:'${text('省直机关')}', name:'tjCount', index:'a.tjCount', width:120, align:"center"},
		{header:'${text('县市')}', name:'sxCount', index:'a.sxCount', width:120, align:"center"},
		{header:'${text('合计')}', name:'allCount', index:'a.allCount', width:120, align:"center"},
		{header:'${text('总量')}', name:'totalCount', index:'a.totalCount', width:120, align:"center"},
		{header:'${text('完成率')}', name:'allRate', index:'a.allRate', width:120, align:"center"}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});
</script>