<% layout('/layouts/default.html', {title: '参评管理管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('投票情况')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<div class="btn-group">
					<a href="javascript:" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-navicon"></i> <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="javascript:" id="btnExport"><i class="glyphicon glyphicon-export"></i> ${text('导出')}</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${reviewTerm}" action="${ctx}/review/reviewTerm/listVoteData" method="post" class="form-inline">
				<div class="form-group">
					<label class="control-label">${text('参评单位')}：</label>
					<div class="control-inline width-120" >
						<#form:treeselect id="officeCode" title="${text('机构选择')}"
						path="officeCode" labelPath=""
						url="${ctx}/sys/office/treeData" allowClear="true"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('是否投票')}：</label>
					<div class="control-inline">
						<#form:select path="hasVote" dictType="vote_is_throw" class="form-control required " blankOption="true" blankOptionValue="" blankOptionLabel="请选择&nbsp;&nbsp;&nbsp;&nbsp;"/>
					</div>
				</div>

			<div class="form-group">
				<label class="control-label">${text('投票人')}：</label>
				<div class="control-inline">
					<#form:input path="userName" maxlength="255" class="form-control width-120"/>
				</div>
			</div>

				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
<!--			<div id="dataGridPage"></div>-->
		</div>
	</div>
</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	sortableColumn : false,
	rownumWidth: 50,
	columnModel: [
		{header:'${text('参评单位')}', name:'office_name', index:'a.office_name', width:120, align:"center"},
		{header:'${text('投票人')}', name:'user_name', index:'a.user_name', width:120, align:"center"},
		{header:'${text('先进干部')}', name:'ganbu', index:'a.ganbu', width:120, align:"center",formatter: function(val, obj, row, act){
				return js.getDictLabel(${@DictUtils.getDictListJson('vote_is_throw')}, val, '已投票', true);
			}},
		{header:'${text('先进处长')}', name:'chuzhang', index:'a.chuzhang', width:120, align:"center",formatter: function(val, obj, row, act){
				return js.getDictLabel(${@DictUtils.getDictListJson('vote_is_throw')}, val, '已投票', true);
			}},
		{header:'${text('先进处室')}', name:'chushi', index:'a.chushi', width:120, align:"center",formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('vote_is_throw')}, val, '已投票', true);
			}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){

	}
});

$('#btnExport').click(function(){
	js.ajaxSubmitForm($('#searchForm'), {
		url:'${ctx}/review/reviewTerm/exportListVoteData',
		downloadFile:true
	});
});
</script>