<% layout('/layouts/default.html', {title: '问卷管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${text('问卷管理')}
			</div>
			<div class="box-tools pull-right">
				<% if(hasPermi('vote:voteNaire:edit')){ %>
					<a href="#" class="btn btn-default" id="btnPublish" onclick="getCheckBoxValue()" title="${text('发布')}"><i class="fa fa-filter"></i> ${text('发布')}</a>
					<a href="#" class="btn btn-default" id="btnResult" title="${text('查看结果')}"><i class="fa fa-filter"></i> ${text('查看结果')}</a>
					<a href="#" class="btn btn-default" id="btnStop" title="${text('终止投票')}"><i class="fa fa-filter"></i> ${text('终止投票')}</a>
					<a href="#" class="btn btn-default" id="btnSee" title="${text('预览')}"><i class="fa fa-filter"></i> ${text('预览')}</a>
				<% } %>

				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<% if(hasPermi('vote:voteNaire:edit')){ %>
					<a href="${ctx}/vote/voteNaire/form" class="btn btn-default btnTool" title="${text('新增问卷')}"><i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${voteNaire}" action="${ctx}/vote/voteNaire/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('问卷名称')}：</label>
					<div class="control-inline">
						<#form:input path="name" maxlength="50" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text("问卷名称")}', name:'name', index:'a.name', width:150, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/vote/voteNaire/form?id='+row.id+'" class="btnList" data-title="${text("编辑问卷")}">'+(val||row.id)+'</a>';
		}},
		{header:'${text("问卷描述")}', name:'content', index:'a.content', width:150, align:"left"},
		{header:'${text("排序")}', name:'sort', index:'a.sort', width:150, align:"center"},
		{header:'${text("操作")}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('vote:voteNaire:edit')){ %>
				actions.push('<a href="${ctx}/vote/voteNaire/form?id='+row.id+'" class="btnList" title="${text("编辑问卷")}"><i class="fa fa-pencil"></i></a>&nbsp;');
				actions.push('<a href="${ctx}/vote/voteNaire/delete?id='+row.id+'" class="btnList" title="${text("删除问卷")}" data-confirm="${text("确认要删除该问卷吗？")}"><i class="fa fa-trash-o"></i></a>&nbsp;');
					actions.push('<a href="${ctx}/vote/voteNaire/vote?id='+row.id+'" class="btnList" title="${text("投票")}"><i class="fa fa-glass"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});

function getCheckBoxValue() {
	var vals = [];
	$.each($('input:checkbox:checked'),function(){
		vals.push($(this).attr('id').replace("jqg_dataGrid_",""));
	});
	console.log(vals);
}
</script>