<% layout('/layouts/default.html', {title: '问题管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> ${voteNaire.name}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" >${text('已选：52票/100票')}</a>
				<% if(hasPermi('vote:voteQuestion:edit')){ %>
					<a href="#" class="btn btn-default" onclick="getCheckBoxValue()" title="${text('投票')}"><i class="fa fa-plus"></i> ${text('投票')}</a>
				<% } %>
				<a href="#" class="btn btn-default" id="btnSetting" title="${text('设置')}"><i class="fa fa-navicon"></i></a>
			</div>
		</div>
		<div class="box-header">
			<div class="box-title">
				<i class="fa icon-notebook"></i> 评选说明文字:&nbsp;${voteNaire.content}
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${voteQuestion}" action="${ctx}/vote/voteQuestion/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<#form:input path="naireId" name="naireId" id="naireId" maxlength="200" class="form-control width-120 hide" />
				<div class="form-group">
					<label class="control-label">${text('标题')}：</label>
					<div class="control-inline">
						<#form:input path="title" maxlength="200" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('排序')}：</label>
					<div class="control-inline">
						<#form:input path="sort" maxlength="4" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('父id')}：</label>
					<div class="control-inline">
						<#form:input path="parentId" maxlength="64" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	showCheckbox:true,
	columnModel: [
		{header:'${text("投票选择")}', name:'title', index:'a.title', width:150, align:"center"},
	],
	treeGrid: true,			// 启用树结构表格
	defaultExpandLevel: 0,	// 默认展开的层次
	expandNodeClearPostData: 'parentId,naireId,', // 展开节点清理请求参数数据（一般设置查询条件的字段属性，否则在查询后，不能展开子节点数据）	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});

function getCheckBoxValue(type) {
	var vals = [];
	var val = "";
	$.each($('input:checkbox:checked'),function(){
		val = $(this).attr('id');
		if("cb_dataGrid" != val){
			vals.push(val.replace("jqg_dataGrid_",""));
		}
	});
	js.ajaxSubmit("${ctx}/vote/voteNaire/toVoteByUser?naireId="+$("#naireId").val()+"&ids="+vals, function(data){
		js.showMessage(data.message);
		page();
	});
}
</script>